<svg
	xmlns="http://www.w3.org/2000/svg"
	width="1.17em"
	height="1em"
	viewBox="0 0 146 125"
	class="text-[23px] md:text-[26px] lg:text-[32px] xl:text-[40px]"
>
	<title>Logo</title>
	<path
		fill="currentColor"
		fill-rule="evenodd"
		d="m72.77 0 72.5 125H97.61v-13.05h24.95L99.5 72.17 72.77 125 46.1 72.17l12.97.09 13.7 28.91 13.8-28.91 12.92-.09L72.77 26.1l-49.8 85.85h25.2V125H.27z"
	/>
</svg>
