<svg
	xmlns="http://www.w3.org/2000/svg"
	width="5.38em"
	height="1em"
	viewBox="0 0 382 71"
	class="text-xl md:text-2xl lg:text-3xl xl:text-4xl"
>
	<title>中V档案馆</title>
	<g fill="currentColor">
		<path
			d="M372.15 65.85h-21.9v4.08h-6.62V21.65h33.25v18.63h-26.63v6.26h28.47v23h-6.57zm0-5.53v-8.24h-21.9v8.24zm-1.74-25.56v-7.57h-20.16v7.57zm-4.92-26.28h16.01V20.2H375v-5.93h-28.35v5.93h-6.31V8.48h17.6l-2.77-7.4 7.48-.9q1.47 4 2.84 8.3m-40.71 59.39-4.1-4.5a7 7 0 0 0 1.68-2.53q.44-1.23.44-3.33V25.58h6.6v30.84q4.62-4.23 7.7-7.39l2.78 5.55q-7.06 6.94-15.1 13.29m2.02-56.51h11.14v5.6l-3.74 12.3-5.25-1.38 3.52-10.74h-7.87q-2.93 7.35-6.98 14.83l-4.26-4.92q6.7-13.06 9.67-26.8l6.8 1.33a189 189 0 0 1-3.03 9.78M233.4 52.27v-5.5h66.04v5.5zm29.57 17.85v-28.6h6.89v28.6zm-28.1-1.55-3.3-5.87q11.97-2.92 18.79-6.08a47 47 0 0 0 12.28-8.28l4.85 1.8a51 51 0 0 1-12.99 10.6q-7.25 4.11-19.63 7.83M236 16.81V6.45h60.63v10.24h-6.77v-4.7h-47.08v4.82zm28.15-7.39q-1.77-4.85-3.2-8.6L269.2 0q1.78 5.66 2.65 8.66zm-31.03 15.24V19.2h66.53v5.46zM293 43.93q-21.36-6.32-49.82-13.43a180 180 0 0 0 15.62-16.68l7.92.62A267 267 0 0 1 253.6 28.2q23.13 5.36 42.38 10.2zm-56.07 0-2.18-5.57q22.13-1.86 32.12-5.7 9.01-3.42 13.06-10.44l7.49.3q-4.02 8.07-13.25 12.9-11 5.8-37.24 8.5m61.04 24.2q-12.41-3.37-19.75-7.48a51 51 0 0 1-12.87-10.51l4.9-1.8a43 43 0 0 0 11.9 8.18q7.05 3.3 19.06 5.83zM210.74 66.31H176.7V60.1h34.04V48.78H179.6V42.6h31.14V32h-32.4v-6.23h16.01V1.03h7.08v24.75h16.32v44.3h-7.01zm-25.8-44.74a952 952 0 0 0-8.17-13.7l5.48-2.88q4.77 7.32 8.43 13.31zm25.44.33-5.4-3.63q4.37-5.94 8.9-13.34l5.55 3.23q-4.34 7.09-9.05 13.74m-41.46-.64v48.98h-6.79V21.26h-9.05v-6.4h9.05V.93h6.79v13.93h7.66v6.4zm-14.64 30.38-3.41-6.91A78 78 0 0 0 162.4 19.4l2.9 6.01a88 88 0 0 1-4.55 14 84 84 0 0 1-6.47 12.23m20.97-8.22a210 210 0 0 0-10.53-10.38l3.44-4.69q5.94 4.77 10.92 9.28zM125.29 5.07h9.93l-27.11 62.32-.81 1.87L79.38 5.07h10.19l17.73 42.35zM52.98 46.45h-18.7V71h-7.6V46.45H7.92v4.45H.5V14.82h26.18V.92h7.6v13.9h26.18v35.91h-7.48zm0-6.88V21.69h-18.7v17.88zm-26.3 0V21.69H7.92v17.88z"
		/>
	</g>
</svg>
