.toast-root {
    translate: var(--x) var(--y);
    scale: var(--scale);
    z-index: var(--z-index);
    height: var(--height);
    box-shadow: 0px 4px 8px var(--shadow);

    will-change: translate, opacity, scale;
    transition: translate 350ms, scale 350ms, opacity 350ms, height 350ms, box-shadow 200ms;
    transition-timing-function: cubic-bezier(0.21, 1.02, 0.73, 1);
}
